* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #4f6b51;
	margin: 10px 10px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 40px;
	border-radius: 8px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.100);
	background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
h1 {
	padding: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
}
.limit {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.limit .form-label {
	margin-bottom: 10px;
}
.limit input {
	width: 100%;
	margin-bottom: 20px;

	padding: 10px;
	border: none;
	border-radius: 5px;
}
.form-birthday {
	max-width: 400px;
}
#date {
	margin-bottom: 2rem;
	padding: 10px;
	border: none;
	border-radius: 5px;
}
.mark {
	display: grid;
	grid-template-columns: 1em auto;
	gap: 1rem;
	margin-bottom: 1.5rem;
}
.mark label,
input, .gender label {
	cursor: pointer;
}
.about {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.about .form-label {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 18px;
	text-align: left;
}
#aboutme {
	border: none;
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 5px;
}
.about h3 {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	margin: 1rem 0 10px;
}
.gender {
	text-align: left;
	margin-bottom: 2rem;
}
.btn {
	font-weight: 600;
	font-size: 18px;
	color: aliceblue;
	background: rgba(17, 105, 83, 0.836);
	margin: 0 auto 2rem;
	width: 100%;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}